@{
    ViewBag.Title = "Home > Index";
}

<div style="text-align: center;">
    <img src="~/Content/Images/logo_mvc.png" />
    <img src="~/Content/Images/logo_vue.png" />
    <h1>{{WelcomeMessage}}</h1>
</div>

