
@{
    ViewBag.Title = "EventBus";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Event Bus</h2>
<p>This example demonstrates component communication through an Event Bus and simple shared functionality through mixins.</p>
<hr />
<table cellpadding="10">
    <tr>
        <td valign="top"><eventbusfire></eventbusfire></td>
        <td valign="top"><eventbuscaptureblue></eventbuscaptureblue></td>
        <td valign="top"><eventbuscapturered></eventbuscapturered></td>
    </tr>
</table>


